
.welcome-message {
  margin-top: 100px;
  margin-bottom: 100px;
}

.information-table {
  margin: 0 auto;
  font-size: larger;
  text-align: left;
  vertical-align: top;
}

.information-table-heading {
  min-width: 200px;
  vertical-align: top;
  color: #c63131;
}

.e-mail-link {
  cursor: pointer;
}